<div class="aui-row">
    <div style="position: absolute;top:0rem;left:0;width:4rem;bottom: 0;overflow: scroll">
        <div class="aui-row nav-btn {{-1 == selectedClassId?'active':''}}" (click)="ShowTab(-1)">
            全部
        </div>
        <div *ngFor="let cls of surveyClassList" (click)="ShowTab(cls.id)"
             class="aui-row nav-btn {{cls.id == selectedClassId?'active':''}}">
            {{cls.className}}
        </div>
    </div>
    <div style="width:100%">
        <!--<div style="position: absolute;top:0rem;left:3rem;right:0;height:2rem;overflow: scroll">-->
        <!--<div>查看更多</div>-->
        <!--</div>-->
        <div style="position: absolute;top:0rem;left:4rem;right:0;bottom: 1rem;overflow: scroll">
            <ul class="aui-list aui-media-list">
                <li class="aui-list-item" *ngFor="let survey of surveyList">
                    <a routerLink="/survey-detail-initial/{{survey.id}}">
                        <div class="aui-media-list-item-inner">
                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-text list-header">
                                    {{survey.title}}
                                </div>
                                <div class="aui-list-item-text list-co-header">
                                    {{survey.shortDescription}}
                                </div>
                                <div class="aui-info aui-padded-b-0">
                                    <div class="aui-info-item aui-font-size-12">
                                        <span class="list-price">¥{{survey.price}}</span>
                                        <span class="list-old-price">¥{{survey.orgPrice}}</span>
                                    </div>
                                    <div class="aui-info-item aui-font-size-12">{{survey.testedCnt}}人已测</div>
                                </div>
                            </div>
                            <div class="aui-list-item-media">
                                <img src="{{survey.image}}">
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<app-loading></app-loading>