<section class="aui-chat">
    <div class="aui-chat-header">{{survey.title}}</div>
    <div *ngIf="isNeedSex == 1">
        <div class="aui-chat-item aui-chat-left" id="question_sex">
            <div class="aui-chat-media">
                <img src="assets/image/demo2.png"/>
            </div>
            <div class="aui-chat-inner">
                <!--<div class="aui-chat-name">AUI <span class="aui-label aui-label-warning">2.0</span></div>-->
                <div class="aui-chat-content">
                    <div class="aui-chat-arrow"></div>
                    <div>本测试区分性别，您的性别是？</div>
                    <!--<img src="assets/image/l1.png"/>-->
                </div>
            </div>
        </div>
        <div class="aui-chat-item aui-chat-right">
            <div class="aui-chat-media">
                <img src="assets/image/liulangnan.png"/>
            </div>
            <div class="aui-chat-inner">
                <!--<div class="aui-chat-name">流浪男</div>-->
                <div class="aui-chat-content">
                    <div class="aui-chat-arrow"></div>
                    <div class="option {{userSelectedSex == 1 ? 'selected-option':''}}" (click)="selectSex(1)">男</div>
                    <div class="option {{userSelectedSex == 2 ? 'selected-option':''}}" (click)="selectSex(2)">女</div>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let question of activeQuestionList;let i=index">
        <div class="aui-chat-item aui-chat-left" style="padding-top:1rem" id="question{{question.id}}">
            <div class="aui-chat-media">
                <img src="assets/image/demo2.png"/>
            </div>
            <div class="aui-chat-inner">
                <!--<div class="aui-chat-name">AUI <span class="aui-label aui-label-warning">2.0</span></div>-->
                <div class="aui-chat-content">
                    <div class="aui-chat-arrow"></div>
                    <div>{{i+1}}. {{question.title}}</div>
                    <!--<img src="assets/image/l1.png"/>-->
                </div>
            </div>
        </div>
        <div class="aui-chat-item aui-chat-right">
            <div class="aui-chat-media">
                <img src="assets/image/liulangnan.png"/>
            </div>
            <div class="aui-chat-inner">
                <!--<div class="aui-chat-name">流浪男</div>-->
                <div class="aui-chat-content">
                    <div class="aui-chat-arrow"></div>
                    <div *ngFor="let op of getOptionList(question.questionContent)"
                         class="option {{getOptionClassName(question.id,op.option)}}"
                         (click)="goToNext(question.id,op.option)">{{op.option}}&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="userFinished">
        <div class="aui-chat-item aui-chat-left" style="padding-top:1rem" id="questionend">
            <div class="aui-chat-media">
                <img src="assets/image/demo2.png"/>
            </div>
            <div class="aui-chat-inner">
                <!--<div class="aui-chat-name">AUI <span class="aui-label aui-label-warning">2.0</span></div>-->
                <div class="aui-chat-content">
                    <div class="aui-chat-arrow"></div>
                    <div>您已经完成测评，是否提交？</div>
                    <!--<img src="assets/image/l1.png"/>-->
                </div>
            </div>
        </div>
        <div class="aui-chat-item aui-chat-right">
            <div class="aui-chat-media">
                <img src="assets/image/liulangnan.png"/>
            </div>
            <div class="aui-chat-inner">
                <!--<div class="aui-chat-name">流浪男</div>-->
                <div class="aui-chat-content">
                    <div class="aui-chat-arrow"></div>
                    <div class="option"
                         (click)="completeSurvey()">确定提交
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="aui-chat-item aui-chat-left">

        <div style="height: 30rem;">&nbsp;</div>
    </div>
</section>
<app-loading></app-loading>