<section class="aui-grid aui-margin-b-0">
    <div class="aui-row">
        <div class="aui-col-xs-4 tab-header {{currentTab == 1? 'tab-header-active':''}}" (click)="selectTab(1)">
            <div class="aui-badge" *ngIf="toDoCnt>0">{{toDoCnt}}</div>
            <div class="aui-grid-label">未完成</div>
        </div>
        <div class="aui-col-xs-4 tab-header {{currentTab == 2? 'tab-header-active':''}}" (click)="selectTab(2)">
            <div class="aui-grid-label">已完成</div>
        </div>
        <div class="aui-col-xs-4 tab-header {{currentTab == 3? 'tab-header-active':''}}" (click)="selectTab(3)">
            <div class="aui-grid-label">全部测评</div>
        </div>
    </div>
</section>
<div class="aui-content">
    <ul class="aui-list aui-media-list aui-margin-b-5" *ngFor="let userSurvey of getList()">
        <li class="aui-list-item">
            <a (click)="surveyClick(userSurvey)">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text list-header">
                            {{userSurvey.title}}
                        </div>
                        <div class="aui-list-item-text list-co-header">
                            {{userSurvey.shortDescription}}
                        </div>
                        <div class="aui-info aui-padded-b-0">
                            <div class="aui-info-item aui-font-size-12">
                                <span class="list-price">¥{{userSurvey.price}}</span>
                                <span class="list-old-price">¥{{userSurvey.orgPrice}}</span>
                            </div>
                            <div class="aui-info-item aui-font-size-12">1369人已测</div>
                        </div>
                    </div>
                    <div class="aui-list-item-media">
                        <span class="class-badge">{{userSurvey.className}}</span>
                        <img src="{{userSurvey.image}}">
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item" *ngIf="userSurvey.status==2">
            <div class="aui-list-item-inner aui-padded-t-0">
                <div class="aui-info aui-padded-b-0">
                    <div class="aui-info-item aui-font-size-12">
                        <span class="">完成时间 2017-01-02</span>
                    </div>
                    <div class="aui-info-item aui-font-size-12">
                        <a routerLink="/survey-result/{{userSurvey.id}}">查看报告</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div style="height: 1.3rem;"></div>