<section class="aui-grid">
    <div class="aui-row">
        <img style="width: 100%;" src="assets/image/apicloud-bg.png">
    </div>
</section>
<section class="aui-content aui-grid aui-margin-b-15">
    <div class="aui-row">
        <div class="aui-col-xs-4 aui-border-r">
            <span class="aui-text-warning">{{userInfo.balance}}<small> 元</small></span>
            <div class="aui-gird-lable aui-font-size-12">余额</div>
        </div>
        <div class="aui-col-xs-4 aui-border-r">
            <span class="aui-text-danger">0<small> 个</small></span>
            <div class="aui-gird-lable aui-font-size-12">我的测评</div>
        </div>
        <div class="aui-col-xs-4">
            <span class="aui-text-success">{{userInfo.score}}<small> 分</small></span>
            <div class="aui-gird-lable aui-font-size-12">积分</div>
        </div>
    </div>
</section>
<section class="aui-content">
    <ul class="aui-list aui-list-in aui-margin-b-15">
        <li class="aui-list-item">
            <div class="aui-list-item-label-icon">
                <i class="aui-iconfont aui-icon-location aui-text-info"></i>
            </div>
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-title">积分详情</div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-label-icon">
                <i class="aui-iconfont aui-icon-like aui-text-danger"></i>
            </div>
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-title">我的收藏</div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-label-icon">
                <i class="aui-iconfont aui-icon-image aui-text-info"></i>
            </div>
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-title">我的分享</div>
            </div>
        </li>
    </ul>
    <ul class="aui-list aui-list-in">
        <li class="aui-list-item">
            <div class="aui-list-item-label-icon">
                <i class="aui-iconfont aui-icon-cart aui-text-info"></i>
            </div>
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-title">未支付订单</div>
                <div class="aui-list-item-right"></div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-label-icon">
                <i class="aui-iconfont aui-icon-cert aui-text-warning"></i>
            </div>
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-title">成为代理商</div>
                <div class="aui-list-item-right"></div>
            </div>
        </li>
    </ul>
</section>
<div style="height: 1.3rem;"></div>
<div class="aui-toast" style="display: block; margin-top: -61px;" #loading>
    <div class="aui-toast-loading"></div>
    <div class="aui-toast-content">加载中</div>
</div>
