<section class="aui-grid aui-margin-b-0">
    <div class="aui-row">
        <div class="aui-col-xs-4 tab-header tab-header-active">
            <div class="aui-badge">4</div>
            <div class="aui-grid-label">未完成</div>
        </div>
        <div class="aui-col-xs-4 tab-header">
            <div class="aui-grid-label">已完成</div>
        </div>
        <div class="aui-col-xs-4 tab-header">
            <div class="aui-grid-label">全部测评</div>
        </div>
    </div>
</section>
<div class="aui-content">
    <ul class="aui-list aui-media-list aui-margin-b-5">
        <li class="aui-list-item">
            <a href="http://www.baidu.com">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text list-header">
                            你在爱情中有哪些不为的弱点？
                        </div>
                        <div class="aui-list-item-text list-co-header">
                            大家一起来，那么大家可能想到的是发动机
                        </div>
                        <div class="aui-info aui-padded-b-0">
                            <div class="aui-info-item aui-font-size-12">
                                <span class="list-price">¥9.9</span>
                                <span class="list-old-price">¥9.9</span>
                            </div>
                            <div class="aui-info-item aui-font-size-12">1369人已测</div>
                        </div>
                    </div>
                    <div class="aui-list-item-media">
                        <span class="class-badge">情感</span>
                        <img src="assets/image/demo1.png">
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-padded-t-0">
                <div class="aui-info aui-padded-b-0">
                    <div class="aui-info-item aui-font-size-12">
                        <span class="">完成时间 2017-01-02</span>
                    </div>
                    <div class="aui-info-item aui-font-size-12">
                        <a>查看报告</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <ul class="aui-list aui-media-list aui-margin-b-5">
        <li class="aui-list-item">
            <a href="http://www.baidu.com">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text list-header">
                            你在爱情中有哪些不为的弱点？
                        </div>
                        <div class="aui-list-item-text list-co-header">
                            大家一起来，那么大家可能想到的是发动机
                        </div>
                        <div class="aui-info aui-padded-b-0">
                            <div class="aui-info-item aui-font-size-12">
                                <span class="list-price">¥9.9</span>
                                <span class="list-old-price">¥9.9</span>
                            </div>
                            <div class="aui-info-item aui-font-size-12">1369人已测</div>
                        </div>
                    </div>
                    <div class="aui-list-item-media">
                        <span class="class-badge">情感</span>
                        <img src="assets/image/demo1.png">
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-padded-t-0">
                <div class="aui-info aui-padded-b-0">
                    <div class="aui-info-item aui-font-size-12">
                        <span class="">完成时间 2017-01-02</span>
                    </div>
                    <div class="aui-info-item aui-font-size-12">
                        <a>查看报告</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <ul class="aui-list aui-media-list aui-margin-b-5">
        <li class="aui-list-item">
            <a href="http://www.baidu.com">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text list-header">
                            你在爱情中有哪些不为的弱点？
                        </div>
                        <div class="aui-list-item-text list-co-header">
                            大家一起来，那么大家可能想到的是发动机
                        </div>
                        <div class="aui-info aui-padded-b-0">
                            <div class="aui-info-item aui-font-size-12">
                                <span class="list-price">¥9.9</span>
                                <span class="list-old-price">¥9.9</span>
                            </div>
                            <div class="aui-info-item aui-font-size-12">1369人已测</div>
                        </div>
                    </div>
                    <div class="aui-list-item-media">
                        <span class="class-badge">情感</span>
                        <img src="assets/image/demo1.png">
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-padded-t-0">
                <div class="aui-info aui-padded-b-0">
                    <div class="aui-info-item aui-font-size-12">
                        <span class="">完成时间 2017-01-02</span>
                    </div>
                    <div class="aui-info-item aui-font-size-12">
                        <a>查看报告</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <ul class="aui-list aui-media-list aui-margin-b-5">
        <li class="aui-list-item">
            <a href="http://www.baidu.com">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text list-header">
                            你在爱情中有哪些不为的弱点？
                        </div>
                        <div class="aui-list-item-text list-co-header">
                            大家一起来，那么大家可能想到的是发动机
                        </div>
                        <div class="aui-info aui-padded-b-0">
                            <div class="aui-info-item aui-font-size-12">
                                <span class="list-price">¥9.9</span>
                                <span class="list-old-price">¥9.9</span>
                            </div>
                            <div class="aui-info-item aui-font-size-12">1369人已测</div>
                        </div>
                    </div>
                    <div class="aui-list-item-media">
                        <span class="class-badge">情感</span>
                        <img src="assets/image/demo1.png">
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-padded-t-0">
                <div class="aui-info aui-padded-b-0">
                    <div class="aui-info-item aui-font-size-12">
                        <span class="">完成时间 2017-01-02</span>
                    </div>
                    <div class="aui-info-item aui-font-size-12">
                        <a>查看报告</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div style="height: 1.3rem;"></div>