<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn">
        <span class="aui-iconfont aui-icon-left"></span>返回
    </a>
    <div class="aui-title">订单支付</div>
</header>
<section class="aui-content">
    <ul class="aui-list">
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title aui-text-info">订单内容</div>
                <div class="aui-list-item-right">{{survey.title}}</div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title aui-text-info">价格</div>
                <div class="aui-list-item-right">{{survey.price}} (元)</div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title aui-text-info">余额抵扣</div>
                <div class="aui-list-item-right aui-text-danger"> -{{balancePay}} (元)</div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title aui-text-info">支付金额</div>
                <div class="aui-list-item-right">{{payAmount}} (元)</div>
            </div>
        </li>
    </ul>
</section>
<p></p>
<div style="padding: 5px 5px">
    <div class="aui-btn aui-btn-info aui-btn-block" (click)="payConfirmed">确定支付</div>
</div>
