<router-outlet></router-outlet>
<footer class="aui-bar aui-bar-tab" id="footer">
    <a class="aui-bar-tab-item" routerLink="/home" routerLinkActive="active">
        <i class="aui-iconfont aui-icon-home"></i>
        <div class="aui-bar-tab-label">首页</div>
    </a>
    <a class="aui-bar-tab-item" routerLink="/surveyClasses" routerLinkActive="active">
        <i class="aui-iconfont aui-icon-star"></i>
        <div class="aui-bar-tab-label">分类</div>
    </a>
    <a class="aui-bar-tab-item" routerLink="/my" routerLinkActive="active">
        <div class="aui-badge">99</div>
        <i class="aui-iconfont aui-icon-cart"></i>
        <div class="aui-bar-tab-label">我的测评</div>
    </a>
    <a class="aui-bar-tab-item" routerLink="/personal-center" routerLinkActive="active">
        <div class="aui-dot"></div>
        <i class="aui-iconfont aui-icon-my"></i>
        <div class="aui-bar-tab-label">个人中心</div>
    </a>
</footer>